<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    internalLogLevel="Info"
    internalLogFile="c:\temp\internal-nlog.txt">
	<!-- 啟用 ASP.NET Core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<!-- log 儲存目標 -->
	<targets>
		<!-- 儲存目標類型為 "檔案"  -->
		<target xsi:type="File" name="allfile" fileName=".\logs\nlog-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<!-- 儲存目標類型為 "檔案", only own logs.並使用部份 ASP.NET core renderers 的內容 -->
		<target xsi:type="File" name="ownFile-web" fileName=".\logs\nlog-own-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
	</targets>
	<!-- 設定 logger 名稱與 log 儲存目標的對應 -->
	<rules>
		<!-- 所有 log -->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<!-- 將來自於 Microsoft. assembly 的 Info 以下 (Info,Debug,Trace) log 都排除 (沒有 writeTo 就不會輸出 )-->
		<!-- <logger name="Microsoft.*" maxlevel="Info" final="true" />-->
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>
</nlog>